
*{
    margin: 0;
    padding: 0;
    list-style: none;
}


/* 抬头 */
#head{
    width: 100%;
    height: 50px;
}
#head .head_left{
    width: 36%;
    text-align: center;
    float: left;
}
#head .head_left h4{
    font-size: 18px;
    font-family: serif;
    margin-top: 7px;
}
#head .head_left h6{
    font-size: 10px;
    letter-spacing: 15px;
    margin-left: 12px;
    color: rgb(37, 33, 42);
}
#head .head_rigth{
    width: 60%;
    float: left;
}
#head .head_rigth ul{
    overflow: hidden;
    text-align: left;
    line-height: 50px;
}
#head .head_rigth ul li{
    width: 115px;
    float: left;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
#head .head_rigth ul a{
    padding-bottom: 4px;
    text-decoration: none;
    color: #000;
}

#head .head_rigth ul a.active{
    border-bottom: 2px solid #fda596;
    color: #fda596;
}
/* 抬头end */



/* 轮播 */
#carousel{
    width: 100%;
    height: 315px;
    position: relative;
}

#carousel .car_img{
    width: 100%;
    height: 315px;
    position: relative;
}
#carousel .car_img img{
    width: 100%;
    height: 315px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
#carousel .car_img img.active_car{
    opacity: 1 ;
}
#carousel button{
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, .5);
    color: aliceblue;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    border: 2px solid #000;
    font-size: 20px;
}
#carousel button:nth-of-type(1){
    left: 0px;;
}
#carousel button:nth-of-type(2){
    right: 0px;
}
#carousel button:hover{
    border: 2px solid #fff;
}
#carousel ul{
    position: absolute;
    left: 47%;
    bottom: 35px;
}
#carousel ul li{
    width: 10px;
    height: 10px;
    background: rgb(14, 1, 1);
    float: left;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
#carousel ul li.active_car{
    background: #fff;
}
/* 轮播end */

/* nav */
#nav{
    width: 1065px;
    height: 50px;
    margin: auto;
    border-bottom: 1px solid #666666;
    position: relative;
}
#nav>span {
    width: 100px;
    height: 5px;
    background: white;
    position: absolute;
    bottom: -2px;
    left: 0;
}

#nav h6{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: 500;
}
#nav h6 span{
    margin-left: 10px;
    color: red;
}

/* nav end */

/* pro-tab */
#pro_con{
    width: 1065px;
    height: 750px;
    margin: auto;
}

#pro_con .pro_tab{
    width: 140px;
    height: 300px;
    float: left;
    position: relative;
}
#pro_con .pro_tab img{
    position: absolute;
    left: 3px;
    top: 9px;
}

#pro_con>.pro_tab>span:nth-of-type(1){
    height: 15px;
    border: 0.5px solid #000000;
    position: absolute;
    top: 0;
    right: 0;
}
#pro_con>.pro_tab>span:nth-of-type(2){
    position: absolute;
    right: 0;
    top: 55px;
}
#pro_con>.pro_tab>h3{
    position: absolute;
    left: 32px;
    top: 0px;
}
#pro_con>.pro_tab>a{
    position: absolute;
    text-decoration: none;
    left: 44px;
    cursor: pointer;
}
#pro_con>.pro_tab>a:nth-of-type(1){
    top: 55px;
} 
#pro_con>.pro_tab>a:nth-of-type(2){
    top: 105px;
} 
#pro_con>.pro_tab>a:nth-of-type(3){
    top: 155px;
} 
#pro_con>.pro_tab>a:nth-of-type(4){
    top: 205px;
} 
.team_con_car{
    width: 900px;
    height: 760px;
    float: right;
    overflow: hidden;
}
.team_con_box{
    width: 900px;
    height: 3040px;
    float: right;
    transition: all 1s;
}
.team_context{
    width: 900px;
    height: 760px;
    position: relative;
    float: right;
}
.team_context .team_topbox{
    width: 600px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
}
.team_context .team_topbox div{
    width: 615px;
    height: 150px;
}
.team_context .team_topbox div h4{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.team_context .team_topbox div h4 span{
    font-size: 14px;
    color: #666666;
}
.team_context .team_topbox div h5{
    font-size: 13px;
    font-weight: 600;
    color: #666666;
    margin-top: 10px;
    line-height: 20px;
}
.team_context>img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 22px;
}
.team_context .team_bottombox{
    width: 100%;
    height: 444px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.team_context .team_bottombox>img{
    width: 100%;
}
.team_context .team_bottombox h4{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.team_context .team_bottombox h4 span{
    font-size: 14px;
    color: #666666;
}
.team_context .team_bottombox .box_img{
    width: 100%;
    position: relative;
}
.team_context .team_bottombox .box_img img{
    float: left;
    position: absolute;
    width: 212px;

}
.team_context .team_bottombox .box_img img:nth-of-type(1){
    left: 0;
}
.team_context .team_bottombox .box_img img:nth-of-type(2){
    left: 230px;
}
.team_context .team_bottombox .box_img img:nth-of-type(3){
    right: 230px;
}
.team_context .team_bottombox .box_img img:nth-of-type(4){
    right: 0;
}

.team_context .team_bottombox .box_end{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
}